.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .loading__spinner {
    animation: spin 2.5s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
